/** Wildfire-0.0.1 CSS **/
body {
    margin: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:#444;
    background-color: #eee;
    position: relative;
    font-variant-ligatures: none;
  }

a, a:visited {
  color:#444;
  text-decoration: none;
}
a:hover {
  color:#555;
  text-decoration: none;
}
button {
  cursor: pointer;
}

  .europa {
    font-family: "Europa", sans-serif;
  }

/* No CSS Grid */

  .wrapper {
    height:100vh;
    width: 100vw;
    position: relative;
  }
  .header {
    height:50px;
    width: 100vw;
    background-color: #ffa163;
  }
    .h {
      padding-top: 3px;
      font-size: 24px;
      display: inline-block;
      text-decoration: none;
      width:calc( (100vw - 20px) / 3 );
      margin:auto;
    }
    .h-logo {
      text-align: left;
      padding-left: 5px;
    }
    .h-name {
      text-align: center;
    }
    .h-menu {
      text-align: right;
      padding-right: 5px;
    }
  .nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
    .nav-inline {
      background-color: #555;
    }
      .nav-inline a, .nav-inline a:visited {
        color:#fafafa;
      }
      .nav-inline a:hover {
        color:#f5f5f5
      }
    .n {
      padding-top:10px;
      padding-bottom: 10px;
      font-size: 24px;
    }
    .n-inline:hover {
      background-color:#666
    }
    .n-inline {
      padding-left: calc(10px + 1vw);
      padding-right: calc(10px + 1vw);
      font-size: calc(8px + 1.2vw);
      color:#fafafa;
    }
    .n-selected {
      border-bottom: 4px #ffa163 solid;
      background-color: #777;
      padding-bottom: 6px;
    }
    .n-icon {
      height:120px;
      width:120px;
      border-radius:120px;
      background-color:#ffa163;
      margin:auto;
    }
    .n-h {
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .n-h1 {
      font-size: 28px;
    }
    .n-h2 {
      font-size: 18px;
      color:#888;
    }
  .body-container {
    display: none;
  }
  .body {
    min-height:calc(100vh - 50px);
    text-align: center;
  }
    .sidebar {}
      .s {}
    .b {
      margin: auto;
      width:80%;
      max-width: 40em;
      text-align: left;
    }
    .b-one {
      margin-top: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .b-two {
      margin-top: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .b-init {
      display: grid;
    }
  .buttons {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ddd;
    font-size: calc(8px + .8vw);
  }
    .bu {
      padding-left: calc(2px + 1vw);
      padding-right: calc(2px + 1vw);
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .bu:hover {
      background-color: #d4d4d4
    }
    .bu-selected {
      background-color: #ccc;
      padding-bottom: 6px;
      border-bottom: 4px solid #ffa163
    }
    .bu-selected:hover {
      background-color: #ccc;
      color: #444;
    }
    .bu-fa-icon {}
  .footer {
    height: 50px;
    width: 100%;
    background-color: #333;
    color: #eee;
    text-align: center;
    padding-top: 20px;
  }
  .footer a {
    color:#eee;
  }
  .fa-wf {}

  .menu {
    display: none;
    position:absolute;
    top:-150vh;
    right:10px;
    width: 25vw;
    max-width: 60em;
    min-width: 10em;
    text-align: left;
    font-size: 24px;
    font-family: "Europa", sans-serif;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 0px 10000px rgba(51,51,51,.55);
    -moz-box-shadow: 0px 0px 0px 10000px rgba(51,51,51,.55);
    box-shadow: 0px 0px 0px 10000px rgba(51,51,51,.55);
    border-top: 10px solid #ffa163;
    border-radius: 5px 5px 2px 2px;
  }
    .m-links {
      width: 8em;
      margin: auto;
      padding-top: 15px;
    }
    .m-notes {
      width: 8em;
      margin: auto;
      padding-top: 15px;
      overflow-y:scroll;
      max-height: 40vh;
    }
    .m-seemore {
      width: 6em;
      margin: auto;
      padding-top: 15px;
    }
    .m {
      display: block;
      padding-bottom: 15px;
      padding-top: 15px;
      padding-left: 2vw;
      border-bottom: 2px solid rgba(160,160,160,.15)
    }
    .m-exit {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .m-notifications {
      text-align: left;
      font-size: 16px;
      display: block;
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: 2px solid rgba(160,160,160,.15)
    }
    .m-note {
      font-size: 12px;
      font-family: sans-serif;
      color: #999;
    }
    #plans-buttons {
      display: none;
    }
    .feedback404 {
      width: 95%;
      height: 6em;
      border-radius: 3px;
      border: 0px;
      text-align: left;
      vertical-align: text-top;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(51,51,51,.25);
      -moz-box-shadow: 1px 1px 1px 1px rgba(51,51,51,.25);
      box-shadow: 1px 1px 1px 1px rgba(51,51,51,.25);
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
    }
    .splash-wrapper {}
    .splash-body {
      background-color: #fafafa;
      min-height:500px;
    }
    .splash-content {
      max-width:35em;
      width:80vw;
      margin: auto;
      padding-top: 15%;
      padding-bottom: 20%;
    }

    .splash-form-container {
      max-width: 30em;
      width: 80vw;
      margin: auto;
      display: none;
      text-align: center;
    }
    .splash-form {
      width: 80vw;
      max-width: 25em;
      margin: auto;
      line-height: 2;
    }
    .splash-form-header {
      padding-left: 3vw;
    }
    .splash-form input {
      height:20px;
      max-width: 24em;
      width: 75vw;
      margin:auto;
      font-size: 16px;
      border-radius: 3px;
      border: 2px solid rgba(230,230,230,.5);
      padding: 5px;
      margin-top: 8px;
      background-color: rgba(250,250,250,.85);
      font-family: "Open Sans", sans-serif;
    }
    .splash-form button {
      margin-top: 20px;
      background: none;
      padding: 10px;
      border: 2px solid rgba(230,230,230,.9);
      background-color: rgba(250,250,250,.85);
      box-shadow: 2px 2px 2px 1px rgba(68,68,68,.3);
      width: 12em;
      border-radius:5px;
      font-size: 14px;

    }
    .splash-selector {
      border: 2px solid rgba(230,230,230,.8);
      background-color: rgba(250,250,250,1);
      width: 80vw;
      max-width: 19.8em;
      margin: auto;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .splash-button-container {
      width: 35vw;
      max-width: 9.7em;
      height: 100%;
      display: inline-block;
      padding: 10px;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
    }
    .splash-button {
      color: #444;
    }
    .splash-button:hover{
      color: #333;
    }
    .splash-fa-orange {
      color:#ffa163;
    }
    .splash-fa-white {
      color:#fafafa;
    }
    .splash-left {}
    .splash-right {}
    .splash-lo {
      display: none;
      }
    .splash-icon {
      width: 100px;
      height: 100px;
      background-color: #ffa163;
      border-radius: 120px;
    }
    .splash-icon img {
      height: 100px;
      width: 100px;
    }
    .splash-signup-button-container {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .splash-signup-button {
      display: inline-block;
      height: 70px;
      width: 70px;
      border-radius: 3px 3px 1px 1px;
      list-style: none;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(250,250,250,1);
      font-size: 12px;
      text-align:center;
      cursor: pointer;
    }
    .splash-signup-button:hover{
      background-color: rgb(255,255,255);
      box-shadow: 0px 0px 1px 1px rgba(55,55,55,.3);
    }
    #signupgoogle,#logingoogle {
        border-top:5px solid #ea4335;
    }
      #signupgoogle i,#logingoogle i {
        color: #ea4335;
        font-size: 24px;
        padding-top: 5px;
      }
    #signupfacebook,#loginfacebook {
      border-top:5px solid #3b5998;
    }
      #signupfacebook i,#loginfacebook i {
        color: #3b5998;
        font-size: 24px;
        padding-top: 5px;
      }
    #signuptwitter,#logintwitter {
      border-top:5px solid #00aced;
    }
      #signuptwitter i,#logintwitter i {
        color: #00aced;
        font-size: 24px;
        padding-top: 5px;
      }

      #forms {
        text-align: center;
      }
      #splash-first {
        background-color:#ffa163;
        background-blend-mode: screen;
        background-image: url(https://images.unsplash.com/photo-1486895893244-6000c5fa2830?dpr=1&auto=compress,format&fit=crop&w=1350&h=&q=80&cs=tinysrgb&crop=);
        background-attachment:fixed;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
      }
      #signup {
        border-right:2px solid rgba(230,230,230,.7);
        margin-right:0;
      }
      #login {
        margin-left:0;
      }
      #b-signup {
        text-align: left;
      }
      #b-login {
        text-align: left;
      }
      #splash-overview {
        text-align: justify;
      }
      #splash-report {
        background-color:#ffa163;
        text-align: justify;
      }
      #splash-status {
        text-align: justify;
      }
      #splash-prepare {
        background-color:#ffa163;
        text-align: justify;
      }
      #splash-learn {
        text-align: justify;
      }
      #splash-accolades {
        background-color:#ffa163;
        text-align: justify;
      }
      #notifications-trigger {
        padding-right: 2vw;
      }
      #menu-trigger {
        padding-right: 2vw;
      }


/*End no CSS Grid*/


@supports (display: grid) {
  #report {
    grid-area:report;
  }
  #status {
    grid-area:status;
  }
  #prepare {
    grid-area:prepare;
  }
  #learn {
    grid-area:learn;
  }
  .body-container {
    grid-area:body-container;
    overflow-y:scroll;
  }
  .sidebar {
    display: none;
  }

  @media (orientation:portrait) {

      .wrapper {
        min-height:100vh;
        width: 100vw;
        position: relative;
        display: grid;
        grid-template-rows: 50px calc(100vh - 50px) 50px;
        grid-template-areas:
          "header"
          "body"
          "footer"
      }
      .header {
        height:50px;
        width: 100vw;
        background-color: #ffa163;
        grid-area:header;
      }
        .h {
          padding-top: 3px;
          font-size: 24px;
          display: inline-block;
          text-decoration: none;
          width:calc( (100vw - 20px) / 3 );
          margin:auto;
        }
        .h-logo {
          text-align: left;
          padding-left: 5px;
        }
        .h-name {
          text-align: center;
        }
        .h-menu {
          text-align: right;
          padding-right: 5px;
        }
      .nav {
        padding-top: 10px;
        padding-bottom: 10px;
        grid-area:header;
      }
        .nav-inline {
          background-color: #555;
        }
          .nav-inline a, .nav-inline a:visited {
            color:#fafafa;
          }
          .nav-inline a:hover {
            color:#f5f5f5
          }
        .n {
          padding-top:12px;
          padding-bottom: 30px;
          font-size: 24px;
          text-align: center;
        }
        .n-inline:hover {
          background-color:#666
        }
        .n-inline {
          padding-left: calc(10px + 1vw);
          padding-right: calc(10px + 1vw);
          font-size: calc(8px + 1.2vw);
          color:#fafafa;
        }
        .n-selected {
          border-bottom: 4px #ffa163 solid;
          background-color: #777;
          padding-bottom: 6px;
        }
        .n-icon {
          height:120px;
          width:120px;
          border-radius:120px;
          background-color:#ffa163;
          margin:auto;
        }
        .n-h {
          padding-top: 10px;
          padding-bottom: 20px;
        }
        .n-h1 {
          font-size: 28px;
        }
        .n-h2 {
          font-size: 18px;
          color:#888;
        }
        .n-links {
          display: grid;
          grid-template-columns: calc(50% - 3px) calc(50% - 3px);
          grid-template-areas:
            "report status"
            "prepare learn";
          grid-gap: 6px;
          padding-top: 15px;
          border-bottom: 2px solid #ddd;
          border-top: 2px solid #ddd;
        }
        .n-fa {
          display: block;
          font-size: 32px;
        }
      .body {
        min-height:calc(100vh - 50px);
        text-align: center;
        grid-area:body;
        overflow-y: scroll;
      }
      .body-grid {
        display: grid;
        grid-template-rows: 41px calc(100vh - 50px - 41px - 60px) 60px;
        grid-template-areas:
          "header"
          "body-container"
          "buttons";

      }
      .body-container {
        grid-area:body-container;
        overflow-y:scroll;
        height:auto;
      }
        .sidebar {}
          .s {}
        .b {
          margin: auto;
          width:80%;
          max-width: 40em;
          text-align: left;

        }
        .b-one {
          margin-top: 10px;
          padding-top: 10px;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
        .b-two {
          margin-top: 10px;
          padding-top: 10px;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
        .b-init {
          display: grid;
        }
      .buttons {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        font-size: calc(8px + .8vw);
        grid-area: buttons;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
          "one two three four"
      }
        .bu {
          padding-left: calc(2px + 1vw);
          padding-right: calc(2px + 1vw);
          padding-top: 10px;
          padding-bottom: 10px;
          display: inline-block;
        }
        .bu-selected {
          background-color: #ddd;
          padding-top: 6px;
          border-top: 4px solid #ffa163
        }
        #one {
          grid-area:one;
        }
        #two {
          grid-area:two;
        }
        #three {
          grid-area:three;
        }
        #four {
          grid-area:four;
        }
        .bu-fa-icon {
          display: block;
          font-size: 24px;
        }
      .footer {
        height: 50px;
        width: 100%;
        background-color: #333;
        color: #eee;
        text-align: center;
        padding-top: 20px;
      }
      .fa-wf {}


  }
  @media (orientation:landscape) {
    .n-links {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-areas:
        "report status prepare learn";
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 2px solid #ddd;
      border-top: 2px solid #ddd;
    }
    .n-fa {
        display:block;
        font-size: 36px;
    }
    .body-container {
      height: calc(100vh - 130px);
      display: none;
      grid-template-columns:  50% 50%;
    }
    .bu {
      padding-left: calc(2px + 3vw);
      padding-right: calc(2px + 3vw);
    }
    .splash-wrapper {}
    .splash-body {
      background-color: #fafafa;
      min-height:500px;
    }
    .splash-content {
      max-width:60em;
      width:90vw;
      margin: auto;
      padding-top: 2%;
      padding-bottom: 2%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right"
    }

    .splash-form-container {
      max-width: 30em;
      width: 60vw;
      padding: 10px;
      margin: auto;
      display: none;
    }
    .splash-form {
      width: 60vw;
      max-width: 25em;
      margin: auto;
      line-height: 2;
    }
    .splash-form input {
      height:20px;
      max-width: 24em;
      width: 50vw;
      margin:auto;
      font-size: 16px;
      border-radius: 3px;
      border: 2px solid rgba(230,230,230,.5);
      padding: 5px;
      margin-top: 8px;
      background-color: rgba(250,250,250,.95);
      font-family: "Open Sans", sans-serif;
    }
    .splash-form button {
      margin-top: 10px;
      background: none;
      padding: 10px;
      border: 2px solid rgba(230,230,230,.9);
      background-color: rgba(250,250,250,.85);
      width: 12em;
      border-radius:3px;
      font-size: 14px;

    }
    .splash-selector {
      border: 2px solid rgba(230,230,230,.9);
      background-color: rgba(250,250,250,.85);
      width: 80vw;
      max-width: 19.8em;
      margin: auto;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-top: 15vh;
      margin-left: 5em;
    }
    .splash-button-container {
      width: 35vw;
      max-width: 9.7em;
      height: 100%;
      display: inline-block;
      padding: 10px;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
    }
    .splash-button {
      color: #444;
    }
    .splash-button:hover{
      color: #333;
    }
    .splash-fa-orange {
      color:#ffa163;
    }
    .splash-fa-white {
      color:#fafafa;
    }
    .splash-left {
      grid-area:left;
      max-width: 40em;
      width: 40vw;
      padding-top: 3em;
      padding-bottom: 5em;
    }
    .splash-right {
      grid-area:right;
      max-width: 40em;
      width: 40vw;
      padding-top: 3em;
      padding-bottom: 5em;
    }
    .splash-lo {
      display: block;
    }
    .splash-icon {
      margin-top:10vh;
    }
      #forms {
        text-align: center;
      }
      #splash-first {
        background-color:#ffa163;
        background-blend-mode: screen;
        background-image: url(https://images.unsplash.com/photo-1445302883545-a6da27dd4c7f?dpr=1&auto=compress,format&fit=crop&w=750&h=&q=80&cs=tinysrgb&crop=);
        background-attachment:fixed;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
      }
      #signup {
        border-right:2px solid rgba(230,230,230,.7);
        margin-right:0;
      }
      #login {
        margin-left:0;
      }
      #b-signup {
        text-align: left;
      }
      #b-login {
        text-align: left;
      }
  }
  @media (min-width:750px) and (orientation:portrait) {
    .wrapper {
      min-height:100vh;
      width: 100vw;
      position: relative;
      display: grid;
      grid-template-rows: 80px calc(100vh - 80px) 50px;
      grid-template-areas:
        "header"
        "body"
        "footer"
    }
    .header {
      height:80px;
      width: 100vw;
      background-color: #ffa163;
      grid-area:header;
    }
      .h {
        padding-top: 7px;
        font-size: 36px;
        display: inline-block;
        text-decoration: none;
        width:calc( (100vw - 20px) / 3 );
        margin:auto;
      }
      .h-logo {
        text-align: left;
        padding-left: 5px;
      }
      .h-name {
        text-align: center;
      }
      .h-menu {
        text-align: right;
        padding-right: 5px;
      }
    .nav {
      padding-top: 10px;
      padding-bottom: 10px;
      grid-area:header;
    }
      .nav-inline {
        background-color: #555;
      }
        .nav-inline a, .nav-inline a:visited {
          color:#fafafa;
        }
        .nav-inline a:hover {
          color:#f5f5f5
        }
      .n {
        padding-top:12px;
        padding-bottom: 30px;
        font-size: 24px;
        text-align: center;
      }
      .n-inline:hover {
        background-color:#666
      }
      .n-inline {
        padding-left: calc(10px + 1vw);
        padding-right: calc(10px + 1vw);
        font-size: calc(8px + 1.2vw);
        color:#fafafa;
      }
      .n-selected {
        border-bottom: 4px #ffa163 solid;
        background-color: #777;
        padding-bottom: 6px;
      }
      .n-icon {
        height:120px;
        width:120px;
        border-radius:120px;
        background-color:#ffa163;
        margin:auto;
      }
      .n-h {
        padding-top: 10px;
        padding-bottom: 20px;
      }
      .n-h1 {
        font-size: 28px;
      }
      .n-h2 {
        font-size: 18px;
        color:#888;
      }
      .n-links {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
          "report status prepare learn";
        padding-top: 25px;
        border-bottom: 2px solid #ddd;
        border-top: 2px solid #ddd;
      }
      .n-fa {
        display: block;
        font-size: 32px;
      }
    .body {
      min-height:calc(100vh - 50px);
      text-align: center;
      grid-area:body;
      overflow-y: scroll;
    }
    .body-grid {
      display: grid;
      grid-template-rows: 60px calc(100vh - 80px - 60px - 80px) 80px;
      grid-template-areas:
        "header"
        "body-container"
        "buttons";

    }
    .body-container {
      grid-area:body-container;
      overflow-y:scroll;
      height:auto;
    }
      .sidebar {}
        .s {}
      .b {
        margin: auto;
        width:80%;
        max-width: 40em;
        text-align: left;

      }
      .b-one {
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      .b-two {
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      .b-init {
        display: grid;
      }
    .buttons {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      font-size: calc(8px + .8vw);
      grid-area: buttons;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-areas:
        "one two three four"
    }
      .bu {
        padding-left: calc(2px + 1vw);
        padding-right: calc(2px + 1vw);
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        font-size: 18px;
      }
      .bu-selected {
        background-color: #ddd;
        padding-bottom: 6px;
        border-bottom: 4px solid #ffa163
      }
      #one {
        grid-area:one;
      }
      #two {
        grid-area:two;
      }
      #three {
        grid-area:three;
      }
      #four {
        grid-area:four;
      }
      .bu-fa-icon {
        display: block;
        font-size: 36px;
      }
    .footer {
      height: 50px;
      width: 100%;
      background-color: #333;
      color: #eee;
      text-align: center;
      padding-top: 20px;
    }
    .fa-wf {}

  }
  @media (min-width:750px) and (orientation:landscape) {
    .wrapper {
      min-height:100vh;
      width: 100vw;
      position: relative;
      display: grid;
      grid-template-rows: 60px calc(100vh - 60px) 50px;
      grid-template-areas:
        "header"
        "body"
        "footer"
    }
    .header {
      height:60px;
      width: 100vw;
      background-color: #ffa163;
      grid-area:header;
    }
      .h {
        padding-top: 4px;
        font-size: 30px;
        display: inline-block;
        text-decoration: none;
        width:calc( (100vw - 20px) / 3 );
        margin:auto;
      }
      .h-logo {
        text-align: left;
        padding-left: 5px;
      }
      .h-name {
        text-align: center;
      }
      .h-menu {
        text-align: right;
        padding-right: 5px;
      }
    .nav {
      padding-top: 0px;
      padding-bottom: 0px;
      grid-area:header;
      background-color: #555;
      color:#fafafa;
    }
    .nav-index {
      grid-area:nav;
      padding-top: 10px;
    }
      .nav-inline {
        background-color: #555;
      }
        .nav-inline a, .nav-inline a:visited, .nav a, .nav a:visited {
          color:#fafafa;
        }
        .nav-inline a:hover, .nav a:hover {
          color:#f5f5f5
        }
      .n {
        padding-top: calc(2px + 2vh);
        padding-bottom: calc(2px + 2vh);
        font-size: 18px;
        text-align: center;
        width: 60%;
        margin:auto;
        box-sizing: border-box;
      }
      .n-container:hover {
        background-color: #777;
      }
      .n-inline:hover {
        background-color:#666
      }
      .n-inline {
        padding-top: calc(6px + 8%);
        padding-bottom: 0px;
        padding-left: 20%;
        padding-right: calc(10px + 1vw);
        height: 25%;
        font-size: calc(16pt);
        color:#fafafa;
        display: block;
        width: 100%;
        text-align: left;
      }
      .n-selected {
        border-right: 4px #ffa163 solid;
        border-bottom: none;
        background-color: #777;
        padding-bottom: 10px;
      }
      .n-icon {
        height:120px;
        width:120px;
        border-radius:120px;
        background-color: inherit;
        margin:auto;
      }
      .n-h {
        padding-top: 10px;
        padding-bottom: 20px;
      }
      .n-h1 {
        font-size: 20px;
      }
      .n-h2 {
        font-size: 12px;
        color:#ccc;
      }
      .n-links {
        display: block;
        padding-top: 15px;
        border: none;
        background-color: #5a5a5a;
      }
      .n-fa {
        display: block;
        font-size: 32px;
      }
      #report, #status, #prepare {
          border-bottom: 2px solid #666;
      }


    .body {
      min-height:calc(100vh - 50px);
      text-align: center;
      grid-area:body;
      overflow-y: scroll;
      }
    .body-index {
      display: grid;
      grid-template-columns: 200px calc(100vw - 200px);
      grid-template-rows: calc(100vh - 60px);
      grid-template-areas:
        "nav body-container"
    }
    .body-grid {
      display: grid;
      grid-template-columns: 200px calc(100vw - 200px);
      grid-template-rows: calc(50vh - 30px) calc(50vh - 30px);
      grid-template-areas:
        "header body-container"
        "buttons body-container"

    }
    .body-container {
      grid-area:body-container;
      overflow-y:scroll;
      height:auto;
      grid-template-columns: 50% 50%;
    }
      .sidebar {
        display: block;
        grid-area:buttons;
        background-color: #ddd;
        height: auto;
        width: auto;
        text-align: center;
        font-family: "Europa", sans-serif;
        padding-left: 15px;
        padding-right: 15px;
      }
        .s {
          padding-left: 10px;
          padding-top: 10px;
          text-align: left;
        }
        .sidebar p {
          text-align: left;
          font-size: 12px;
          line-height: 20px;
        }
      .b {
        margin: auto;
        width:80%;
        max-width: 40em;
        text-align: left;

      }
      .b-one {
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      .b-two {
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      .b-init {
        display: grid;
      }
    .buttons {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      font-size: calc(8px + .8vw);
      grid-area: buttons;
      display: grid;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas:
        "one" "two" "three" "four"
    }
      .bu {
        padding-left: calc(2px + 1vw);
        padding-right: calc(2px + 1vw);
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        font-size: 14px;
      }

      .bu-selected {
        background-color: #ccc;
        padding-bottom: 10px;
        padding-right: calc(-2px + 1vw);
        border-right: 4px solid #ffa163;
        border-bottom: 0px;
      }
      #one {
        grid-area:one;
      }
      #two {
        grid-area:two;
      }
      #three {
        grid-area:three;
      }
      #four {
        grid-area:four;
      }
      .bu-fa-icon {
        display: block;
        font-size: 36px;
      }
    .footer {
      height: 50px;
      width: 100%;
      background-color: #4a4a4a;
      color: #eee;
      text-align: center;
      padding-top: 20px;
    }
    .fa-wf {}
      .inline-link {
        text-decoration: underline;
      }
  }
}
