/** Wildfire-0.0.1 CSS **/


body {
    margin: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:#444;
    background-color: #fafafa;
    position: relative;
    font-variant-ligatures: none;
  }

a, a:visited {
  color:#444;
  text-decoration: none;
}
a:hover {
  color:#555;
  text-decoration: none;
}

  .europa {
    font-family: "Europa", sans-serif;
  }

  .wrapper {
    height:100vh;
    width: 100vw;
    position: relative;
  }
  .header {
    height:50px;
    width: 100vw;
    background-color: #ffa163;
  }
    .h {
      padding-top: 3px;
      font-size: 24px;
      display: inline-block;
      text-decoration: none;
      width:calc( (100vw - 20px) / 3 );
      margin:auto;
    }
    .h-logo {
      text-align: left;
      padding-left: 5px;
    }
    .h-name {
      text-align: center;
    }
    .h-menu {
      text-align: right;
      padding-right: 5px;
    }
  .nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
    .nav-inline {
      background-color: #555;
    }
      .nav-inline a, .nav-inline a:visited {
        color:#fafafa;
      }
      .nav-inline a:hover {
        color:#f5f5f5
      }
    .n {
      padding-top:20px;
      padding-bottom: 20px;
      font-size: 24px;
    }
    .n-inline:hover {
      background-color:#666
    }
    .n-inline {
      padding-left: calc(10px + 1vw);
      padding-right: calc(10px + 1vw);
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: calc(10px + 1vw);
      color:#fafafa;
    }
    .n-selected {
      border-bottom: 4px #ffa163 solid;
      background-color: #777;
      padding-bottom: 6px;
    }
    .n-icon {
      height:120px;
      width:120px;
      border-radius:120px;
      background-color:#ffa163;
      margin:auto;
    }
    .n-h {
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .n-h1 {
      font-size: 28px;
    }
    .n-h2 {
      font-size: 18px;
      color:#888;
    }
  .body-container {}
  .body {
    min-height:calc(100vh - 50px);
    text-align: center;
  }
    .sidebar {}
      .s {}
    .b {
      margin: auto;
      width:80%;
      max-width: 40em;
      text-align: left;
    }
    .b-one {
      margin-top: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .b-two {
      margin-top: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  .buttons {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    font-size: calc(8px + .8vw);
  }
    .bu {
      padding-left: calc(2px + 1vw);
      padding-right: calc(2px + 1vw);
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .bu:hover {
      background-color: #ddd
    }
    .bu-selected {
      background-color: #cdcdcd;
      padding-bottom: 6px;
      border-bottom: 4px solid #ffa163
    }
    .bu-fa-icon {}
  .footer {
    height: 50px;
    width: 100%;
    background-color: #333;
    color: #eee;
    text-align: center;
    padding-top: 20px;
  }
  .fa-wf {}

  .menu {
    display: none;
    position:absolute;
    top:-150vh;
    right:10px;
    height:350px;
    width: 250px;
    text-align: left;
    font-size: 24px;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 0px 10000px rgba(51,51,51,.25);
    -moz-box-shadow: 0px 0px 0px 10000px rgba(51,51,51,1);
    box-shadow: 0px 0px 0px 10000px rgba(51,51,51,.25);

  }
    .m-links {
      width: 4em;
      margin: auto;
      padding-top: 30px;
    }
    .m {
      display: block;
      padding-bottom: 20px;
    }
    .m-exit {
      text-align: center;
    }

@supports (display: grid) {
  @media (max-width:500px) and (orientation:portrait) {}
  @media (max-width:500px) and (orientation:landscape) {}
  @media (max-width:750px) and (orientation:portrait) {}
  @media (max-width:750px) and (orientation:landscape) {}
  @media (max-width:1000px) and (orientation:portrait) {}
  @media (max-width:1000px) and (orientation:landscape) {}
  @media (max-width:2000px) and (orientation:portrait) {}
  @media (max-width:2000px) and (orientation:landscape) {}
}
